/* App */

.app {
	min-height: 100vh;
}

/* Body */

.app__body {
	width: min(46rem, calc(100% - var(--space-md) * 2));
	margin-inline: auto;
	padding-bottom: var(--space-sm);
}

@media screen and (width < 48em) {
	.app__body {
		width: calc(100% - var(--space-sm) * 2);
	}
}

/* Form */

.app__form {
	margin-top: -1.75rem;
}

/* Toolbar */

.app__toolbar {
	margin-top: 4rem;
}

/* Content */

.app__content {
	display: grid;
	gap: var(--space-sm);
	margin-top: var(--space-sm);
}

/* Message */

.app__message {
	margin-top: var(--space-md);
	text-align: center;
	color: var(--clr-neutral-300);
}
